html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2; 
    font-family: 'Segoe UI', sans-serif;
}

main {
    flex: 1; 
    padding: 20px;
}

header {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
}

footer {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}
