@inject Microsoft.Extensions.Localization.IStringLocalizer<WebApplication1.SharedResource> Localizer

<h2>@Localizer["About"]</h2>

<p>@Localizer["AboutIntro"]</p>

<hr />

<h4>@Localizer["Mission"]</h4>
<p>@Localizer["MissionText"]</p>


